html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0; left: 0; 
  width: 100vw;
  height: 100vh;
  background: url('assets/static.gif');
  opacity: .98;
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Space Mono' , monospace;
}

#viewportContainer {
  position: fixed;
  top: 30px;
  left: 30px;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  pointer-events: none; 
  z-index: 999;
  overflow: auto;
  scrollbar-width: none;    /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  
}

body::-webkit-scrollbar {
  display: none;
}

#viewportContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid rgba(77,121,195,0.6);
  pointer-events: none;
  box-sizing: border-box;
}
#viewportContainer::after {
  content: "";
  position: absolute;
  filter: blur(3px);
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: 2px solid rgba(77, 121, 195, 0.4);
  pointer-events: none;
  box-sizing: border-box;
}
.viewport {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  cursor: grab;
  z-index: 1;
  pointer-events: auto; 
}


.content {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
}


.frame {
  position: absolute;
  padding: 3px;
  text-align: center;
  width: fit-content;
  transition: transform 0.3s ease, filter 0.3s ease;
  border: 0px solid #000;
  transition: transform 0.5s ease, filter 0.5s ease, box-shadow 0.5s ease;
}
.frame-small {
  font-size: 14px;
  padding: 2px;
}

.frame-normal {
  font-size: 20px;
  padding: 3px;
}

.frame-large {
  font-size: 24px;
  padding: 4px;
}
.frame.hidden {
  display: none;
  opacity: 0;
}

.frame.fading-in {
  display: block;
  opacity: 0;
}
.color-orange { background: #c37c4d; }
.color-blue   { background: #4d79c3; }
.color-green  { background: #4dc37c; }
.color-purple  { background: #844dc3; }
.color-gray  { background: #a3a3a3; }
.color-red  { background: #c34d4d; }
.color-yellow  { background: #c3b74d; }
.color-special  { background: #08ffd6; animation: fadeColors 2s linear infinite;}
@keyframes fadeColors {
  0%   { background: #ff6868; } 
  16%  { background: #ffb163; } 
  33%  { background: #ffff6f; } 
  50%  { background: #6dff6d; }
  66%  { background: #6a6aff; } 
  83%  { background: #c26dff; } 
  100% { background: #ff6868; } 
}
@keyframes rainbowColors {
  0%   { color: #ff6868; } 
  16%  { color: #ffb163; } 
  33%  { color: #ffff6f; } 
  50%  { color: #6dff6d; } 
  66%  { color: #6a6aff; } 
  83%  { color: #c26dff; } 
  100% { color: #ff6868; } 
}
.frame h2 {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: #000;
}

.frame img {
  display: block;
  max-width: 150px;
  height: auto;
  border: 0px solid #000;
}

.linething:hover {
  filter: brightness(1.5);
}

.frame:hover {
  transform: scale(1.2);
  z-index: 10;
  filter: brightness(1.25);
}

#parallax {
  position: absolute;
  top: 0; left: 0; 
  width: 100vw;
  height: 100vh;
  background: url('assets/galaxybkgndblue.jpg');
  filter: blur(2px);
  background-color: #010d1f;
  opacity: .8;
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
  transform: translate(0, 0);
}



#logWindow {
  display: none;
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: rgba(10, 10, 20, 0.9);
  border: 2px solid #4d79c3;
  box-shadow: 0 0 20px #4d79c3;
  color: #eee;
  font-family: 'Space Mono' , monospace;
  animation: flicker 2s infinite;
  z-index: 10000;
  overflow: hidden;
}

#logWindow .logHeader {
  text-align: right;

  animation: flicker .2s infinite;
  background: rgba(0,0,0,0.3);
}

#logWindow .logHeader button {
  background: none;
  border: none;
  color: #4d79c3;
  font-size: 20px;
  cursor: pointer;
  margin: 2px 5px;
}

#closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(0,0,0,0.5);
  border: 2px solid #4d79c3;
  color: #4d79c3;
  font-size: 20px;
  cursor: pointer;
  padding: 2px 8px;
}

#logWindow iframe {
  width: 100%;
  height: calc(100% - 0px);
  border: none;
}
#closeBox {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 2px 6px;
  box-shadow: 0 0 5px #010d1f;
  border: 2px solid #4d79c3;
  color: #4d79c3;
  font-family: 'Space Mono' , monospace;
  font-size: 18px;
  cursor: pointer;
  background: rgba(0,0,0,0.5);
}

#closeBox:hover {
  background: rgba(0,0,0,0.7);
  box-shadow: 0 0 5px #4d79c3;
}
#gridOverlayThin {
  position: fixed;
  top: 30px;      
  left: 30px;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  pointer-events: none;
  z-index: 0;     

  background-color: rgba(0, 40, 100, 0.05);

  background-image:

    repeating-linear-gradient(
      to right,
      rgba(77, 120, 195, 0.075),
      rgba(77, 120, 195, 0.075) 1px,
      transparent 1px,
      transparent 99px
    ),
   
    repeating-linear-gradient(
      to bottom,
      rgba(77, 120, 195, 0.075),
      rgba(77, 120, 195, 0.075) 1px,
      transparent 1px,
      transparent 99px
    );

  background-position:
    -58px 0,
    0 73px;
    border: 1px solid rgba(77, 121, 195, 0.4);
box-sizing: border-box;
}
#gridOverlayCenter {
  position: fixed;
  top: 30px;     
  left: 30px;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  pointer-events: none;
  z-index: 15;   

  background-image:
    linear-gradient(
      to right,
      transparent 50.0%,
      rgba(77, 120, 195, 0.075) 50%,
      rgba(77, 120, 195, 0.075) 50.4%,
      transparent 50.0%
    ),
    linear-gradient(
      to bottom,
      transparent 50.0%,
      rgba(77, 120, 195, 0.075) 50%,
      rgba(77, 120, 195, 0.075) 50.8%,
      transparent 50.0%
    );

  background-position:
    center,
    center;
}
.arrow-img {
  position: absolute;
  transform-origin: 0% 50%;
  height: 6px; 
  pointer-events: none;
  z-index: -1; 
}
.connection-line {
  position: absolute;
  height: 6px; 
  background: #aaa;
  transform-origin: 0% 50%;
  pointer-events: none;
  z-index: -1;
}
.popup-window {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 500px;
  height: 400px;
  background: rgba(10, 10, 20, 0.9);
  border: 2px solid #4d79c3;
  box-shadow: 0 0 10px #4d79c3;
  color: #4d79c3;
  font-family: 'Space Mono' , monospace;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  resize: both;
  overflow: auto;
  transform-origin: center center;
}

@keyframes flicker {
  0% {
    text-shadow: 0 0 7px #00eeffa1, 0 0 7px #00eeffa1;
  }
  50% {
    text-shadow: 0 0 3px #00eeffa1, 0 0 3px #00eeffa1;
  }
  100% {
    text-shadow: 0 0 9px #00eeffa1, 0 0 9px #00eeffa1;
  }
}
@keyframes lightflicker {
  0% {
    text-shadow: 0 0 0px #9ed0ff96, 0 0 0px #9ed0ff96;
  }
  50% {
    text-shadow: 0 0 6px #9ed0ff96, 0 0 6px #9ed0ff96;
  }
  100% {
    text-shadow: 0 0 6px #9ed0ff96, 0 0 6px #9ed0ff96;
  }
}
.popup-header {
  background: rgba(0,0,0,0.3);
  padding: 1px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Space Mono' , monospace;
  font-size: 1.5rem;
  font-weight: 400;
  border: #13336b;
  border-radius: 1px;
  animation: lightflicker .05s infinite;
}

.popup-header button {
  background: none;
  border: 2px solid #4d79c3;
  color: #34548b;
  font-family: 'Space Mono' , monospace;
  font-size: 20px;
  cursor: pointer;
  padding: 2px 6px;
  animation: flicker 2s infinite;
}

.popup-content {
  flex: 1;
  overflow: auto;
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer/Edge */
  scroll-behavior: smooth;
}
.popup-content::-webkit-scrollbar {
  display: none;
}
.popup-header span {
  padding-left: 10px;
}
@keyframes crtStartup {
  0% { transform: scaleY(0); opacity: 0; }
  40% { transform: scaleY(0.1); opacity: .3; }
  100% { transform: scaleY(1); opacity: 1; }
}

@keyframes crtShutdown {
  0% { transform: scaleY(1); opacity: 1; }
  60% { transform: scaleY(0.1); opacity: .3; }
  100% { transform: scaleY(0); opacity: 0; }
}
#screenPadding {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  box-sizing: border-box;
  border: 29px solid rgba(10, 10, 20, 0.76);
  z-index: 5000;
  outline: 4px solirgb(208, 255, 0)ck;
  outline-offset: -4px; 

  box-shadow: inset 0 0 5px #4d79c3, 
              inset 0 0 5px rgba(77,121,195,0.6);
}

.color-orange { background: #c37c4d; color: #c37c4d; }
.color-blue   { background: #4d79c3; color: #4d79c3; }
.color-green  { background: #4dc37c; color: #4dc37c; }
.color-purple { background: #844dc3; color: #844dc3; }
.color-gray   { background: #a3a3a3; color: #a3a3a3; }
.color-red    { background: #c34d4d; color: #c34d4d; }
.color-yellow { background: #c3b74d; color: #c3b74d; }
.color-special { background: #08ffd6; color: #08ffd6; animation: fadeColors 2s linear infinite;}
.color-kris { background: #FF5733; color: #FF5733; }
.color-jacob { background: #7ba5b3; color: #7ba5b3; }
.color-steven { background: #55ff00; color: #55ff00; }
.color-gabe { background: #5b21d8; color: #5b21d8; }
.color-brandon { background: #F5CF27; color: #F5CF27; }
.color-eric { background: #004d2d; color: #004d2d; }
.color-twig { background: #6eff8d; color: #6eff8d; animation: fadeTwig 2s linear infinite;}

@keyframes fadeTwig {
    0%   { background: #6eff8d; }
    50%   { background: #6eff8d6e; }
    100%   { background: #6eff8d; }
  }
.question-rainbow {
  animation: rainbowColors 2s linear infinite;
  color: #08ffd6;/
}


.frame:not(:has(img))::after {
  content: "?";
  display: block;
  width: 150px;
  height: 160px;
  background: #000;
  font-size: 90px;
  line-height: 150px;
  text-align: center;
  margin: 10px auto 0;
}

.frame.color-special:not(:has(img))::after {
  background: #000;
  color: #08ffd6; 
  animation: rainbowColors 2s linear infinite;
}
.frame-small:not(:has(img))::after {
  width: 90px;
  height: 90px;
  font-size: 54px;
  line-height: 90px;
  text-align: center;
}
.frame-large:not(:has(img))::after {
  width: 225px;
  height: 260px;
  font-size: 135px;
  line-height: 225px;
  text-align: center;
}
#musicPlayerContainer .popup-header {
  background: rgba(0,0,0,0.3);
  padding: 2px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  color: #4d79c3;
  animation: flicker 2s infinite;
}

#musicPlayerContainer .popup-header button {
  background: none;
  border: 2px solid #4d79c3;
  color: #4d79c3;
  font-size: 20px;
  cursor: pointer;
  padding: 2px 6px;
}
#splashScreen {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at center, #000814 0%, #01040d 100%);
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Space Mono', monospace;
  overflow: hidden;
  padding: 30px;
  box-sizing: border-box;
}

#bootTerminal {
  width: 100%;
  height: 100%;
  border: 3px solid #33a3ff;
  box-shadow:
    0 0 6px #33a3ff,
    0 0 12px rgba(51, 173, 255, 0.3) inset,
    0 0 2px rgba(0, 132, 255, 0.1) inset;
  background-color: rgba(0, 0, 0, 0.25);
  animation: flicker .05s infinite;
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

#bootText {
  color: #33a3ff;
  font-family: 'Space Mono', monospace;
  font-size: 1.1rem;
  white-space: pre-wrap;
  text-shadow: 0 0 4px #33a3ff;
  animation: flicker .05s infinite;
}

.scanlines {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    to bottom,
    rgba(30, 101, 255, 0.644),
    rgba(0, 119, 255, 0.719) 1px,
    transparent 1px,
    transparent 4px
  );
  z-index: 2;
  pointer-events: none;
  mix-blend-mode: overlay;
}

@keyframes crtFadeDown {
  0%   { transform: scaleY(1); opacity: 1; }
  60%  { transform: scaleY(0.08); opacity: .3; }
  100% { transform: scaleY(0); opacity: 0; }
}

.crtFadeDown {
  animation: crtFadeDown 1.6s ease forwards;
}
#line-container {
  width: 10000px;
  height: 10000px;
}
