body {
    margin: 0;
    padding: 0;
    background: #7d52a100 url('assets/starstwinkle.gif') repeat;
    background-size: cover;
    background-position: center;
    font-family: "Comic Sans MS","Courier New",monospace;
  color: #803083;
  display: repeat;
}

.content-frame {
  width: 100%;
  max-width: 800px;
  height: 500px;
  border: 2px solid #fff;
  background: rgba(0,0,0,0.6);
  margin: 2rem auto;
  display: block;
}

.main-content {
  margin-left: 220px;
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; 
  transition: margin-left 0.3s ease;
}

